@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'IBM Plex Sans', sans-serif;
}

a {
  font-weight: 400;
  text-decoration: none;
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

@layer components {
  .button {
    @apply inline-block px-4 sm:px-6 md:px-9 py-1.5 sm:py-2 md:py-3 font-medium text-[8px] sm:text-xs md:text-base text-black rounded-full border border-solid border-black hover:scale-105 active:scale-95 transition-transform duration-300;
  }

  .button-primary {
    @apply bg-primary-orange;
  }

  .button-secondary {
    @apply bg-primary-cream;
  }
}

@layer custom {
  #hero h1 {
    font-kerning: none;
  }

  .underline path {
    stroke-dasharray: 611.6172485351562;
    stroke-dashoffset: 0;
  }

  .line {
    text-align: inherit !important;
  }
}
